body {
    font-family: Noto Sans, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #3498db;
    text-align: center;
    padding: 1em 0;
}

.nav {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
}

.nav li {
    display: inline; /* Display items in a line */
    margin-right: 20px; /* Space between items */
}

.nav a {
    text-decoration: none; /* Remove underline */
    color: blue; /* Change link color */
}

.nav a:hover {
    color: red; /* Change color on hover */
}


main {
    padding: 20px;
}

section {
    margin: 20px 0;
}

.about-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#about {
    font-size: 1.5em;
    color: #333;
}

.adminskills-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#adminskills {
    font-size: 1.5em;
    color: #333;
}

.techskills-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#techskills {
    font-size: 1.5em;
    color: #333;
}
    
.experience-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#experience {
    font-size: 1.5em;
    color: #333;
}


.timeline {
        position: relative;
        padding: 20px;
        margin: 20px 0;
    }
    .event {
        margin: 20px 0;
        padding-left: 20px;
        border-left: 2px solid #007bff;
    }

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    display: none; /* Hidden by default */
}

#backToTop:hover {
    background-color: #0056b3;
}
